Repository nexckycort/nexckycort.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run lintstyle

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run format"],
  "*.scss": ["npm run lintstyle"]
}

Updates
  207c096ee987ece6c52f.ico
  9716022ffefaf2bb8954.ico
  index.html
Due: none

Updates
  47c6d11d58f41c168573.jpg
  index.html
  main.c627d04df0eb4a52f943.bundle.js
Due: none

Updates
  207c096ee987ece6c52f.ico
  47c6d11d58f41c168573.jpg
  9716022ffefaf2bb8954.ico
  index.html
  main.c627d04df0eb4a52f943.bundle.js
  main.fba746c05326d31cb365.bundle.js
Due: none

Updates
  index.html
  main.782989c9babc2868d437.css
  main.dba1607003bf134a1047.css
  main.e5394d9fd3afaf9844bf.bundle.js
  main.fba746c05326d31cb365.bundle.js
Due: none

feat: add modal view cv
  src/components/common/global/main.scss
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
  src/pages/aboutme/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

Updates
  0ddc345dcb9c4e549034.jpg
  index.html
Due: none

Updates
  main.e5394d9fd3afaf9844bf.bundle.js
Due: none

Updates
  index.html
  main.e5394d9fd3afaf9844bl.bundle.js
Due: none

feat: update image me
  public/favicon.ico
  public/me.jpg
  public/me.png
  src/declaration.d.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
Due: npm run lint, npm run format

Updates
  0ddc345dcb9c4e549034.jpg
  207c096ee987ece6c52f.ico
  93851f386888c9b0355c.png
  cd15a514700dd8c26ed5.ico
  index.html
  main.393f97864606ed18bb64.bundle.js
  main.acec1c887ff1136dc25a.css
  main.dba1607003bf134a1047.css
  main.e5394d9fd3afaf9844bl.bundle.js
Due: none

fix: fixing property image in html
  public/index.html
Due: none

feat: migrating to rspack
  .eslintrc
  .github/workflows/deploy-develop.yml
  .github/workflows/deploy-push.yml
  .github/workflows/lhci.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  .lintstagedrc.json
  .prettierrc
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  commitlint.config.js
  lefthook.yml
  lighthouserc-ci.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/index.html
  rspack.config.js
  src/components/icons/briefcase/index.ts
  src/components/icons/index.ts
  src/components/layout/navbar/index.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
  src/pages/aboutme/style.module.scss
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
  src/routes/index.ts
  webpack/webpack.config.dev.ts
  webpack/webpack.config.prod.ts
  webpack/webpack.config.ts
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  main.ba752b0d0b6930257881.hot-update.js
  main.ba752b0d0b6930257881.hot-update.json
  main.css
  main.css.map
  main.f8184fb7409b466176f3.hot-update.js
  main.f8184fb7409b466176f3.hot-update.json
  main.js
Due: none

Updates
  728.js
  728.js.map
  907.js
  907.js.map
  main.css
  main.css.map
  main.dfcbe7457d681ed80048.hot-update.js
  main.dfcbe7457d681ed80048.hot-update.json
  main.f4ab1836c8bb3054ede4.hot-update.js
  main.f4ab1836c8bb3054ede4.hot-update.json
  main.js
  main.js.map
Due: none

Add minify plugin and optimize code
  package.json
  pnpm-lock.yaml
  rspack.config.js
Due: none

feat: migrating to rspack (#7)
  .eslintrc
  .github/workflows/deploy-develop.yml
  .github/workflows/deploy-push.yml
  .github/workflows/lhci.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  .lintstagedrc.json
  .prettierrc
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  commitlint.config.js
  lefthook.yml
  lighthouserc-ci.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/index.html
  rspack.config.js
  src/components/icons/briefcase/index.ts
  src/components/icons/index.ts
  src/components/layout/navbar/index.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
  src/pages/aboutme/style.module.scss
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
  src/routes/index.ts
  webpack/webpack.config.dev.ts
  webpack/webpack.config.prod.ts
  webpack/webpack.config.ts
Due: npm run lint, npm run format, npm run lintstyle

Updates
  728.js
  728.js.map
  907.js
  907.js.map
  91c04ca7ba173a122a36.png
  index.html
  main.css
  main.css.map
  main.js
  main.js.map
  me.png
  me.webp
  static/font/GT-Walsheim-Pro-Bold.6a14195a.woff2
  static/font/GT-Walsheim-Pro-Medium.0dadf1a5.woff2
  static/font/GT-Walsheim-Pro-Regular.b8600af6.woff2
  static/js/async/907.9431ce40.js
  static/svg/contact.f03f427f.svg
Due: none

Updates
  index.html
  static/js/index.65d37fc1.js
Due: none

Updates
  index.html
  static/js/index.d460f563.js
Due: none

feat: migrating rspack to rsbuild
  .github/workflows/deploy-push.yml
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  lefthook.yml
  lighthouserc-ci.js
  package.json
  pnpm-lock.yaml
  public/me.png
  public/me.webp
  rsbuild.config.ts
  rspack.config.js
  src/components/common/global/_fonts.scss
  src/components/common/global/main.scss
  src/components/icons/index.ts
  src/components/layout/footer/style.module.scss
  src/components/layout/navbar/index.ts
  src/components/layout/navbar/style.module.scss
  src/data/projects.ts
  src/declaration.d.ts
  src/helpers/selectedLang.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
  src/pages/aboutme/style.module.scss
  src/pages/contact/style.module.scss
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

feat: add portfolio and project pages with routing and styling
  src/components/icons/briefcase/index.ts
  src/components/icons/index.ts
  src/components/layout/navbar/index.ts
  src/data/projects.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
  src/routes/index.ts
  tsconfig.json
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  static/js/async/907.18a0a24d.js
  static/js/async/907.9431ce40.js
  static/js/index.2bedf6ad.js
  static/js/index.d460f563.js
Due: none

Updates
  index.html
  static/js/async/907.18a0a24d.js
  static/js/async/907.e67bdae4.js
  static/js/index.bfcdba08.js
Due: none

feat: add new project 'lambda devkit' and enhance project page with back button
  src/data/projects.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/project/index.ts
  src/pages/project/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  static/js/index.33c7c1d7.js
  static/js/index.bfcdba08.js
Due: none

feat: implement client-side routing and navigation enhancements
  src/components/common/global/main.scss
  src/components/layout/navbar/index.ts
  src/helpers/toPage.ts
  src/main.ts
  src/pages/portfolio/index.ts
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

feat: reorder project title and image for improved layout and styling
  src/pages/project/index.ts
  src/pages/project/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  static/js/index.d8b415da.js
Due: none
