Repository nexckycort/nexckycort.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run lintstyle

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run format"],
  "*.scss": ["npm run lintstyle"]
}

feat: add footer (#2)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/common/global/main.scss
  src/components/layout/footer/index.ts
  src/components/layout/footer/style.module.scss
  src/components/layout/navbar/style.module.scss
  src/data/socialMedia.json
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/style.module.scss
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

feat: add masonry layout
  src/components/common/global/_variables.scss
  src/components/common/global/main.scss
  src/data/projects.ts
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

fix: color hover image
  src/components/common/global/_variables.scss
  src/components/common/global/main.scss
  src/pages/portfolio/style.module.scss
Due: npm run lintstyle

feat: add page project
  src/lang/en.json
  src/lang/es.json
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

feat: add img html
  public/index.html
  public/me.jpg
Due: none

feat: add description
  public/index.html
  src/pages/aboutme/index.ts
Due: npm run lint, npm run format

fix: add format ts
  package.json
Due: none

feat: add img
  src/pages/aboutme/index.ts
Due: npm run lint, npm run format

feat: add project translation
  src/data/projects.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

fix: add margin top in section project
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

Updates
  207c096ee987ece6c52f.ico
  404.html
  47c6d11d58f41c168573.jpg
  5d003e71616db8f7d61c.woff2
  8a124e761cceac039878.woff2
  _redirects
  asset-manifest.json
  bc09e837049ce08667e1.woff2
  index.html
  main.0bf4b954fdc78549b752.css
  main.ec10e2044fa8d944ff4f.bundle.js
  manifest.json
  robots.txt
  static/css/main.adc08dac.chunk.css
  static/css/main.adc08dac.chunk.css.map
  static/js/2.c402368f.chunk.js
  static/js/2.c402368f.chunk.js.LICENSE.txt
  static/js/2.c402368f.chunk.js.map
  static/js/3.21b78f3a.chunk.js
  static/js/3.21b78f3a.chunk.js.map
  static/js/main.b95f2b77.chunk.js
  static/js/main.b95f2b77.chunk.js.map
  static/js/runtime-main.02973664.js
  static/js/runtime-main.02973664.js.map
Due: none

Updates
  index.html
  main.0bf4b954fdc78549b752.css
  main.43e24fdc8d698b6bec16.css
Due: none

fix: margin in section project
  src/pages/project/style.module.scss
Due: npm run lintstyle

Updates
  index.html
  main.1544e49ec02f48d16ff8.css
  main.43e24fdc8d698b6bec16.css
Due: none

ci: add build in deploy script
  package.json
  src/pages/portfolio/style.module.scss
  src/pages/project/style.module.scss
Due: npm run lintstyle

fix: masonry layout
  src/pages/portfolio/style.module.scss
Due: npm run lintstyle

Updates
  index.html
  main.1544e49ec02f48d16ff8.css
  main.58d7490c5ba6f5445072.css
Due: none

Updates
  index.html
  main.58d7490c5ba6f5445072.css
  main.9f3592ce6ff63431df3d.css
Due: none

feat: add border image image project
  src/pages/project/style.module.scss
Due: npm run lintstyle

Updates
  index.html
  main.59f45f409d8dce45bd61.bundle.js
  main.9f3592ce6ff63431df3d.css
  main.d3d4c2bf962e07905350.css
  main.ec10e2044fa8d944ff4f.bundle.js
Due: none

Updates
  index.html
  main.59f45f409d8dce45bd61.bundle.js
  main.b96991b92b9bb7d1536f.bundle.js
Due: none

Updates
  index.html
  main.b96991b92b9bb7d1536f.bundle.js
  main.dd2ac10e0c91408174d1.bundle.js
Due: none

feat: add projects
  src/data/projects.ts
  src/lang/en.json
  src/lang/es.json
Due: npm run lint, npm run format

feat: add color
  src/components/common/global/main.scss
  src/pages/aboutme/style.module.scss
  src/pages/portfolio/style.module.scss
  src/pages/project/style.module.scss
Due: npm run lintstyle

ci: update deploy develop
  .github/workflows/deploy-develop.yml
Due: none

feat: add section projects (#3)
  .github/workflows/deploy-develop.yml
  package.json
  public/index.html
  public/me.jpg
  src/components/common/global/_variables.scss
  src/components/common/global/main.scss
  src/data/projects.ts
  src/lang/en.json
  src/lang/es.json
  src/pages/aboutme/index.ts
  src/pages/portfolio/index.ts
  src/pages/portfolio/style.module.scss
  src/pages/project/index.ts
  src/pages/project/style.module.scss
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

ci: update deploy on push
  .github/workflows/deploy-push.yml
Due: none

Updates
  ad26c174ef92de8256b8.svg
  index.html
  main.4afbcbe43d45fb8f3f7a.css
  main.d3d4c2bf962e07905350.css
  main.dd2ac10e0c91408174d1.bundle.js
  main.e5cea74b1f0bcff50c0d.bundle.js
Due: none

feat: new footer
  src/assets/img/contact.svg
  src/assets/img/me.jpg
  src/components/layout/footer/index.ts
  src/components/layout/footer/style.module.scss
  src/declaration.d.ts
  src/lang/en.json
  src/lang/es.json
Due: npm run lint, npm run format, npm run lintstyle

feat: add page contact
  public/index.html
  src/components/common/global/main.scss
  src/components/icons/contact/index.ts
  src/components/icons/index.ts
  src/components/layout/footer/index.ts
  src/components/layout/footer/style.module.scss
  src/components/layout/navbar/index.ts
  src/components/layout/navbar/style.module.scss
  src/lang/en.json
  src/lang/es.json
  src/pages/contact/index.ts
  src/pages/contact/style.module.scss
  src/routes/index.ts
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  main.453a1d285464db462363.css
  main.4afbcbe43d45fb8f3f7a.css
  main.7644b2f4489798187b9c.bundle.js
  main.e5cea74b1f0bcff50c0d.bundle.js
Due: none

Updates
  index.html
  main.7644b2f4489798187b9c.bundle.js
  main.d7129aabbcdd7d206cff.bundle.js
Due: none

feat: hiding projects
  src/data/projects.ts
  src/pages/portfolio/index.ts
Due: npm run lint, npm run format

Updates
  index.html
  main.453a1d285464db462363.css
  main.69f56d33873d99f50210.bundle.js
  main.d053016032fdde9cb632.css
  main.d7129aabbcdd7d206cff.bundle.js
Due: none

feat: remove title project
  src/pages/project/index.ts
  src/pages/project/style.module.scss
Due: npm run lint, npm run format, npm run lintstyle

Updates
  index.html
  main.23125675eb4e49b34db2.bundle.js
  main.69f56d33873d99f50210.bundle.js
  main.782989c9babc2868d437.css
  main.d053016032fdde9cb632.css
Due: none

feat: update profile
  src/lang/en.json
  src/lang/es.json
Due: none

Updates
  index.html
  main.23125675eb4e49b34db2.bundle.js
  main.d656beb2051f9fb23395.bundle.js
Due: none

refactor: rename profile
  src/lang/en.json
  src/lang/es.json
Due: none

Updates
  0ddc345dcb9c4e549034.jpg
  47c6d11d58f41c168573.jpg
  index.html
  main.c627d04df0eb4a52f943.bundle.js
  main.d656beb2051f9fb23395.bundle.js
Due: none
